<div
  class="pt-24 pb-48 px-5 max-w-screen-lg mx-auto flex-col w-full text-left items-center justify-center text-slate-50"
>
  <h2 class="text-xl font-bold mb-2">{{ .content.section_title }}</h2>
  <div class="flex-col">
    <a href="/blog/posts/post1" class="flex-col justify-center h-full  my-10">
      <img class="w-full" src="{{ .content.featured_post_one.image.url }}" />
      <div class="flex-col text-left p-2">
        <h3>{{ .content.featured_post_one.title }}</h3>
        <p>{{ .content.featured_post_one.description }}</p>
      </div>
    </a>
    <a href="/blog/posts/post2" class="flex-col justify-center h-full">
      <img class="w-full" src="{{ .content.featured_post_one.image.url }}" />
      <div class="flex-col text-left p-2">
        <h3>{{ .content.featured_post_one.title }}</h3>
        <p>{{ .content.featured_post_one.description }}</p>
      </div>
    </a>
  </div>
</div>
