<section
  id="contact"
  class="pt-24 pb-24 max-w-screen-xl mx-auto relative text-white"
>
  <div
    class="absolute -z-10 w-full h-full top-0 bg-cover bg-center bg-no-repeat opacity-70 bg-fixed"
    style="background-image: url({{ .content.image.url }});"
  ></div>
  <form
    class="relative max-w-2xl p-8 rounded-md flex-col bg-orange-50/60 mx-3 sm:mx-auto"
  >
    <div class="flex-col">
      <label for="name" class="block text-stone-700 font-bold">Name</label>
      <input
        id="name"
        type="text"
        class="block relative left-2/4 -translate-x-2/4 w-full p-2 rounded-sm text-stone-600"
      />
    </div>
    <div class="flex-col items-start justify-start">
      <label for="email" class="block mt-4 text-stone-700 font-bold"
        >Email</label
      >
      <input
        id="email"
        type="email"
        class="block relative left-2/4 -translate-x-2/4 w-full p-2 rounded-sm text-stone-600"
        required
      />
    </div>
    <div class="flex-col items-start justify-start">
      <label for="message" class="block mt-4 text-stone-700 font-bold"
        >Message</label
      >
      <textarea
        id="message"
        type="message"
        rows="8"
        class="block relative left-2/4 -translate-x-2/4 w-full resize-none p-2 rounded-sm text-stone-600"
        required
      ></textarea>
    </div>
    <button class="mt-4 bg-indigo-500 px-5 py-3 rounded-lg" type="submit">
      Submit
    </button>
  </form>
</section>
