{{ $c := "c-welcome" }}

<section
  class="{{ $c }} max-w-screen-xl mx-auto min-h-screen flex justify-center items-center gap-6 p-2 dark:text-stone-50"
  x-data="{mouseX: 0, moveX: 0, mouseY: 0, moveY: 0, eyeStyles: {},  headStyles: {}}"
  @mousemove="function($event) {
    mouseX = ($event.clientX / 1000) - 1.2;
    mouseY = ($event.clientY / 1000) - 0.5;

    function value_limit(val, min, max) {
      return val < min ? min : (val > max ? max : val);
    }

    moveX = value_limit(mouseX, -.5, 0.3)
    moveY = value_limit(mouseY, -0.25, 0.25)
    eyeStyles.transform = `translate(${moveX}vw, ${moveY}vh)`
    headStyles.transform = `rotate(${mouseX * 4}deg)`
    headStyles.transformOrigin = 'center'
}"
>
  <div class="flex-col w-full">
    <div class="{{ $c }}__slide-effect">
      <h1 class="{{ $c }}__heading text-4xl sm:text-6xl md:text-8xl font-semibold">
        {{ .heading }}
      </h1>
    </div>
    <p class="{{ $c }}__sub-heading text-4xl py-3 sm:text-6xl md:text-8xl font-semibold text-indigo-500">{{ .sub_heading }}</p>
    <p class="{{ $c }}__welcome-text max-w-2xl py-3 leading-relaxed font-extralight text-lg tracking-wider">{{ .welcome_text }}</p>
    <div class="{{ $c }}__button text-stone-50">
      {{ partial "bookshop" (slice "generic/button" .button )}}
    </div>
  </div>
  <div class="avatar">
    {{ partial "bookshop" (slice "simple/avatar" . )}}
  </div>
</section>
