{{ $permalink := .RelPermalink }}
{{ $permalink := path.Join $permalink "/"}}
 {{ $current := . }}
{{ with .Site.Data.nav }}
   <header class="sticky top-0 z-50 left-0 right-0">
      <div class="max-w-screen-xl mx-auto flex justify-between items-center min-h-max p-2 text-white">
         <a class="mx-2 py-1" href="/">
            <img src="{{.logo}}" alt="Nav-Logo" />
         </a>
         <nav class="flex">
            <ul class="flex">
               {{ range .items }}
                  <li class="mx-2 py-1">
                     <a class="" href="{{.link}}">
                        {{.text}}
                     </a>
                  </li>
               {{ end }}
            </ul>
            <div class="mx-2 border border-indigo-50 py-1 px-3">
               {{ with .btn }}
                  <a href="{{.link}}" class="">{{.text}}</a>
               {{ end }}
            </div>
         </nav>
      </div>
   </header>
{{ end }}